.centered-title {
    text-align: center;
}

@font-face {
    font-family: 'Fantasy';
    src: url('path-to-your-font-file.woff2') format('woff2');
    /* Add more src lines for different font formats if needed */
}

/* Apply 'Courier New' font and increase the font size for h1 elements */
h1 {
    font-family: 'Fantasy';
    font-size: 50px; /* Adjust the font size to your preference */
    color: rgb(248, 240, 240);
    text-align: center;
    padding: 0px;
}

input[type="file"] {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
}

/* Style for submit button */
input[type="submit"] {
    padding: 10px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* Style for submit button on hover */
input[type="submit"]:hover {
    background-color: #0056b3;
}

body {
    background-image: url('pneumonia.jpg');
    /* Other background properties here */
    background-size: cover; /* This property ensures the image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Makes the background image fixed while scrolling */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0.5 in this example) */
}

.rectangle-container {
    text-align: center;
    padding-top: 150px; /* Adjust this value as needed */
    height: 250px; /* Adjust the height to your desired value */
    border: 5px solid #ccc;
    background-color: #0a0a0a;
    max-width: 600px;
    margin: 100px auto 0;
}

.rectangle-container h1 {
    font-size: 50px; /* Adjust the font size for the heading */
    color: #f4f3f3; /* Adjust the text color */
    margin-bottom: 10px;
}

.rectangle-container .form-elements {
    text-align: center; /* Center the form elements horizontally */
    margin-top: 20px; /* Adjust the spacing above the form elements */
}

.rectangle-container .form-elements input[type="file"] {
    padding: 10px; /* Adjust padding for the file input */
    font-size: 16px; /* Adjust the font size for the file input */
}



